#! stdtmpl
#proc generateHTMLPage(title, content: string): string =
#  result = ""
<!doctype html>
<html lang="en-US">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-title" content="Chatroom">
<meta name="description" content="Chatroom">

<title>$title - Album</title>

<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.min.css">
<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.4.2/css/amazeui.css">
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.4.2/js/amazeui.min.js"></script>

</head>



<body>

    $content

      <footer data-am-widget="footer"
          class="am-footer am-footer-default"
           data-am-footer="{  }">

        <div class="am-footer-miscs ">

              <p>由 <a href="/" title="Album"
                                                    target="_blank" class="">Album</a>
                提供技术支持</p>
            <p>CopyRight &copy; 2015  Album Inc.</p>
            <p>作者:糊糊</p>
        </div>
      </footer>
</body>
</html>
#end proc